[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Test repo
[access "refs/*"]
	owner = group user/ari-pm
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ari-pm
	label-Verified = -1..+1 group user/ari-pm
	push = group user/ari-pm
	read = group user/ari-pm
	rebase = group user/ari-pm
	removeReviewer = group user/ari-pm
	submit = group user/ari-pm
[access "refs/heads/*"]
	create = group user/ari-pm
	push = +force group user/ari-pm
	pushMerge = group user/ari-pm
	read = group user/ari-pm
[access "refs/tags/*"]
	push = group user/ari-pm
	push = +force group user/ari-pm
